@import url('https://fonts.googleapis.com/css?family=Heebo:900|Kanit:800&display=swap');

$font1: 'Kanit', sans-serif;
$font2:'Heebo', sans-serif;

$color1: #3AC8EC;
$color2: #368599;
$color3: #BFFFE9;
$color4: #FF8580;
$color5: #CC859E;
$color6: #E8F0FE;
$color7: #DDDDDD;