/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
@import url("https://fonts.googleapis.com/css?family=Heebo:900|Kanit:800&display=swap");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  background: #DDDDDD;
}

.logo {
  width: 10%;
  margin-left: 2%;
  margin-top: 17%;
}

.app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10px;
}

.title-container {
  margin-left: 15%;
}

.hdrTitle {
  margin-bottom: 2%;
  font-size: 50px;
  font-family: "Heebo", sans-serif;
  color: #3AC8EC;
}

.hdrTitle2 {
  margin-left: 10%;
  font-size: 30px;
  font-family: "Heebo", sans-serif;
  color: #3AC8EC;
}

header {
  width: 100%;
  height: 15vh;
  background: #E8F0FE;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2%;
  height: 90vh;
  width: 50%;
  margin-left: 26%;
}

.login-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  margin-top: 8%;
  height: 65%;
  background: white;
  width: 90%;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.titleHdr {
  padding-top: 5%;
  margin-bottom: 2%;
  border-radius: 25px 25px 0px 0px;
  text-align: center;
  background: #E8F0FE;
  width: 100%;
}

.title {
  font-size: 80px;
  font-family: "Heebo", sans-serif;
  margin-top: 2%;
  color: #3AC8EC;
}

.input {
  border: none;
  border-bottom: 1px solid #FF8580;
  width: 50%;
  height: 70px;
  font-size: 22px;
  font-family: "Heebo", sans-serif;
  margin-bottom: 20px;
  color: #3AC8EC;
  -webkit-transition: width .5s ease-out;
  transition: width .5s ease-out;
}

.input::-webkit-input-placeholder {
  color: #3AC8EC;
}

.input:-ms-input-placeholder {
  color: #3AC8EC;
}

.input::-ms-input-placeholder {
  color: #3AC8EC;
}

.input::placeholder {
  color: #3AC8EC;
}

.input:focus {
  background: #E8F0FE;
  width: 70%;
  border: none;
  border-radius: 5px;
}

.submitBtn {
  margin-top: 50px;
  background: #E8F0FE;
  width: 70%;
  height: 60px;
  font-size: 30px;
  margin-bottom: 70px;
  font-family: "Heebo", sans-serif;
  color: #3AC8EC;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.newParentBtn {
  border: none;
  background: #3AC8EC;
  width: 100%;
  height: 40px;
  font-size: 20px;
  font-family: "Heebo", sans-serif;
  color: #368599;
  border-radius: 15px;
}

.newParentLink {
  border: none;
  background: #3AC8EC;
  width: 45%;
  height: 40px;
  font-size: 20px;
  font-family: "Heebo", sans-serif;
  color: #368599;
  text-align: center;
  border-radius: 15px;
}

.register-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  margin-left: 25%;
  height: 60vh;
  background: white;
  width: 50%;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  background: white;
  margin-top: 5%;
}

.registerTitle {
  font-size: 50px;
  font-family: "Heebo", sans-serif;
  margin-bottom: 50px;
  color: #3AC8EC;
}

.registerBtn {
  border: none;
  background: #E8F0FE;
  width: 100%;
  height: 60px;
  font-size: 30px;
  border-radius: 20px;
  font-family: "Heebo", sans-serif;
  color: #3AC8EC;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.registerLink {
  margin-top: 5%;
  width: 70%;
  height: 60px;
  font-size: 30px;
  font-family: "Heebo", sans-serif;
  color: #3AC8EC;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.display-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  margin-left: 2%;
  height: 95vh;
  background: white;
  width: 96%;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  background: white;
  margin-top: 2%;
}

.disTitleHdr {
  padding: 1% 0 1% 0;
  margin-bottom: 2%;
  border-radius: 25px 25px 0px 0px;
  text-align: center;
  background: #E8F0FE;
  width: 100%;
}

.smallTitle {
  font-size: 50px;
  font-family: "Heebo", sans-serif;
  color: #3AC8EC;
}

.childrenTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.children {
  font-size: 40px;
  font-family: "Heebo", sans-serif;
  color: #3AC8EC;
  margin-left: 2%;
}

.kidList {
  height: 25vh;
  width: 100%;
}

.addKidBtn {
  margin-left: 2%;
  border: none;
  background: #E8F0FE;
  width: 20%;
  height: 35px;
  font-size: 25px;
  border-radius: 20px;
  font-family: "Heebo", sans-serif;
  color: #3AC8EC;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.balance {
  width: 100%;
}

.dopuTitle {
  font-size: 40px;
  font-family: "Heebo", sans-serif;
  color: #3AC8EC;
  margin-left: 2%;
}

.dopuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2%;
  margin-top: 2%;
}

.dopuListTitle {
  margin-left: 10px;
  font-size: 30px;
  font-family: "Heebo", sans-serif;
  color: #368599;
}

.totalTitle {
  margin-left: 2%;
  margin-top: 2%;
  font-size: 30px;
  font-family: "Heebo", sans-serif;
  color: #368599;
}
/*# sourceMappingURL=styles.css.map */